.w100{
  width: 100%;
}

.h100{
  height: 100%;
}
.w200px{
  width: 200px;
}
.h60px{
  height: 60px;
}
.m0auto{
  margin: 0 auto;
}


.lh60px{
  line-height: 60px;
}
.hover-bgc-pink:hover{
  background-color: pink;
}

.clickbg{
  background-color: #FD742D;
  color: #fff;
} 
.hover-bgc-orange:hover{
  background-color: #FD742D;
  color: #fff;
}
.c-pointer{
cursor: pointer;
}
.border-1-eee{
  border: 1px solid #eee;
}
.bgc999{
  background-color: #999;
}
.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.jc-sp-bet{
  justify-content: space-between;
}
.tac{
  text-align: center;
}
.posi-re{
  position: relative;
}
